<!-- <div class="col-md-4 offset-md-4 mt-4">
    <div class="card">
        <div class="card-header">
            <div class="text-primary text-center fw-bold">
                registerForm
            </div>
        </div>
        
        <div class="card-body">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                <div class="form-group">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" ngModel name="fullName" #fullName="ngModel">
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" ngModel name="email" #email="ngModel">
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" ngModel name="password" #password="ngModel">
                </div>
                <div class="form-group">
                    <label for="your petname" class="form-label">Tell her/his name</label>
                    <input type="text" class="form-control" ngModel name="your petname" #password="ngModel">
                </div>
                <div class="form-group">
                    <label for="fav food" class="form-label">tell me </label>
                    <input type="text" class="form-control" ngModel name="fav food" #password="ngModel">
                </div>
                
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary ms-5 me-2">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div> -->